main {
    background-color: #f5f5f5;
    margin-top: 5vh;
    border-radius: 20px;
}

main .history {
    padding-top: 8vh;
    padding-left: 4vw;
    padding-right: 4vw;
    flex-direction: column;
}

main .history .title {
    font-size: 40px;
}

main .history .text {
    padding-left: 1.5vw;
    padding-right: 2.5vw;
    text-align: justify;
}

main .history #desktop img {
    max-width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
}