#desktop {
    overflow: hidden;
    position: relative;
    height: 92vh;
    max-width: 100vw;
}

#desktop img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    object-fit: cover;
    transition: opacity 800ms;
}

#desktop img.selected {
    opacity: 1;
}

#mobile img {
    display: none;
}

@media (max-width: 700px) {
    #desktop {
        display: none;
    }
    
    #desktop img {
        display: none;
    }

    #mobile {
        overflow: hidden;
        position: relative;
        height: 92vh;
        max-width: 100vw;

    }

    #mobile img {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        object-fit: cover;
        transition: opacity 800ms;
    }

    #mobile img.selected {
        opacity: 1;
    }
}