.contents {
    background-color: aliceblue;
    border-radius: 5vw;
}

.contents .about {
    padding: 3vh;
    padding-top: 10vh;
    margin-top: 50vh;
}

.contents .about .title {
    text-align: justify;
    padding-left: 4vh;
}

.contents .about .text {
    text-align: justify;
    padding: 4vh;
}

.contents .about img, .contents .store img {
    max-width: 20vw;
    padding: 2vh;
    border-radius: 8vh;
}

.contents .store, .contents .media {
    padding: 3vh;
    margin-top: 6vh;
}

.contents .store .title {
    text-align: right;
    padding-right: 4vh;
}

.contents .store .text {
    text-align: justify;
    padding: 4vh;
}

.contents .store .btn {
    background-color: #180081;
    color: #FFFFFF;
    border: none;
    border-radius: 4vh;
    text-decoration: none;
    cursor: pointer;
    padding: 1vh 0vw;
    margin: 0vh 10vw;
    font-size: 1.5vh;
    text-transform: uppercase;
}

.contents .store .btn:hover {
    background-color: #FFD811 ;
    color: #180081;
    transition-duration: 0.5s;
}

.contents .media .content-media {
    justify-content: space-around;
    padding: 2vh;
}

.contents .media .social-icon .title {
    font-size: 3vh;
    margin-top: 4vh;
}

.contents .media .social-icon .text {
    justify-content: left;
    margin-left: 2vw;
    text-decoration: none;
    font-size: 2vh;
    font-weight: bold;
    color: #180081;
}

.contents .media .social-icon .text img {
    max-width: 4vw;
    padding: 1vh;
}

.contents .media .media-img {
    max-width: 20vw;
    border-radius: 8vh;
}