
@media (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }
    main .media .content {
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    body {
        overflow-x: hidden;
    }
    main .media .content {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    main .content {
        flex-direction: column;
    }
    main .media .content {
        flex-direction: column;
    }
    main .media .content .social .title, main .media .content .contact .title {
        font-size: 2.8vh;
    }
    main .media .content .contact .title {
        margin-top: 8vh;
    } 
    main .media .content .social .instagram img, main .media .content .social .facebook img {   
        margin-top: 2vh;
    }
    main .media .content .contact .whatsapp img, main .media .content .contact .gmail img {
        margin-top: 2vh;
    }
    main .media .content .social .instagram p, main .media .content .social .facebook p {
        margin-top: 0;
    }
    main .media .content .contact .whatsapp p, main .media .content .contact .gmail p {
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    main .content, main .media .content, main .media .content .social2, main .media .content .contact2 {
        flex-direction: column;
    }
    main .media .content .social .title, main .media .content .contact .title {
        font-size: 2.8vh;
    }
    main .media .content .contact .title {
        margin-top: 8vh;
    }    
    main .media .content .social .instagram img, main .media .content .social .facebook img, main .media .content .contact .whatsapp img, main .media .content .contact .gmail img {
        margin-top: 2vh;
    }
    main .media .content .social .instagram p, main .media .content .social .facebook p, main .media .content .contact .whatsapp p, main .media .content .contact .gmail p {
        margin-top: 0;
    }
}