main .lenses {
    background-color: yellow;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;;
}

main .lenses .lenses-img {
    justify-content: space-around;
    height: 15vh;
}

main .lenses .lenses-img img {
    max-width: 10vw;
    max-height: 8vh;
}

main .lenses p {
    padding-bottom: 2vh;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

main .title {
    text-transform: uppercase;
    font-size: 4vh;
}

main .text {
    padding: 3vw;
    text-align: justify;
    box-shadow: 5px 10px 18px #636363;
    border-radius: 10px;
}

main .about, 
main .store {
    margin-top: 1vh;
    padding: 2vw;
    background-color: aliceblue;
}

main .media {
    padding: 2vw;
    background-color: aliceblue;
}

main .content .about .title, 
main .content .store .title, 
main .media .title {
    margin-top: 80px;
}

main .about .btn, 
main .store .btn {
    margin-top: 2vh;
}

main .about .btn a, 
main .store .btn a {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
    width: 250px;
    height: 30px;
    background-color: #180081;
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

main .about .btn a:hover, 
main .store .btn a:hover {
    background-color: #FECF16;
    color: #180081;
    transition: 0.4s ;
}

main .media .content .social .title, 
main .media .content .contact .title {
    margin-top: 0vh;
}

main .media a img {
    max-width: 70px;
    padding: 0.3vw;
    margin-left: 25px;
    margin-right: 25px;
}

main .media .content {
    margin-top: 8vh;
    justify-content: space-around;
}