footer {
    margin-top: 8vh;
    background-color: #FECF16;
}

footer .social img {
    width: 2.5vw;
    margin: 2vh;
}

footer img {
    margin-top: 2vh;
    max-width: 20vw;
}

footer .text {
    font-weight: bold;
    color: #180081;
    margin-top: 3vh;
    margin-bottom: -6vh;
    padding: 2vh;
}

@media (max-width: 1024px) {
    footer img {
        max-width: 40vw;
    }

    footer .text {
        text-align: center;
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    footer .social img {
        width: 8vw;
    }

    footer img {
        max-width: 50vw;
    }

    footer .text {
        text-align: center;
        font-size: 15px;
    }
}